.required:after {
    content: "*";
    color: red;
}

.form-text {
    color: red;
    display: none;
}

.login-email {
    border-radius: 10px 10px 0 0;
}

.login-password {
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.ui-menu-item-wrapper {
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    color: #333366;
}

.account-avatar-big {
    height: 250px;
    width: 250px;
    border-radius: 10%;
    object-fit: cover;
}

.account-avatar-small {
    height: 40px;
    width: 40px;
    border-radius: 10%;
    object-fit: cover;
}

/*Wall posts style start*/

.wall-post {
    border-style: solid;
    border-color: #ced4da;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px 25px 0;
}

.wall-post-body .account-avatar {
    height: 40px;
    width: 40px;
    border-radius: 10%;
    object-fit: cover;
}

.wall-post-body .content-image {
    width: auto;
    height: auto;
}

.wall-post-body a {
    text-decoration: none;
}

.wall-post-body a span:hover {
    color: dodgerblue;
}

.wall-post-body a span {
    padding-left: 5px;
    font-family: Arial, serif;
    font-style: italic;
    text-underline: none;
    color: black;
}

.bi-trash:hover {
    font-size: 125%;
}

.post-date-time {
    font-size: 80%;
    color: gray;
    padding: 0;
}

.post-text span {
    overflow-wrap: break-word;
}

.registration-date {
    font-size: 70%;
    color: gray
}

/*Dialogue style start*/

.dialogue-partner .account-avatar {
    height: 40px;
    width: 40px;
    border-radius: 10%;
    object-fit: cover;
}

.dialogue-partner a span:hover {
    color: dodgerblue;
}

.dialogue-partner a:link {
    text-decoration: none;
}

.dialogue-partner a span {
    padding-left: 5px;
    font-family: Arial, serif;
    font-style: italic;
    color: black;
}

#messages {
    padding: 12px;
}

#messages > .row {
    margin: 0;
    padding: 0;
}

#messages .message {
    border-style: solid;
    border-color: #ced4da;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#messages .message.my-message {
    background-color: #6495ed44;
}

.message-date-time {
    font-size: 80%;
    color: gray;
    padding: 0;
}

.message-date-time p {
    margin-bottom: 3px;
}

.message-text span {
    margin-top: 5px;
    margin-bottom: 3px;
    overflow-wrap: break-word;
}